<ion-pane>
      <ion-content class="content">
        <div class="container">
            <div ng-view></div>
            <img class="logo" src="img/logo.png">
            <p class="small">Entrar a Moneta o crear una cuenta</p>
            <div class="inputs">
            <input type="email" class="email" placeholder="E-mail">
            <input type="password" ng-model="pass" class="password" placeholder="Password">
            </div>
            <div class="buttons">
            <a class="signin" ui-sref="menu">Iniciar sesion</a>
            <a class="twitter">Entrar con Twitter</a>
            <a class="facebook">Entrar con Facebook</a>
            <a class="signup" ui-sref="signup" class="tab-item">Registrarse</a>
            <p class="aclaracion">Cualquier aclaracion dirigete a nuestro <a>FAQ</a></p>
            </div>
        </div>
      </ion-content>
</ion-pane>
