<ion-pane>
    <ion-content class="cont_menu">
        <a ui-sref="home"><div class="return"><img width="30vw" src="img/menu2.png"></div></a>
        <p class="transfer">Transferencia</p>
    <div class="slid">
        <p class="text">Cantidad</p>
        <div class="item range range-positive">
      <input type="range" name="cantidad">
    </div>
    <div class="texts">
        <p class="black" >Digite su cantidad</p>
        <input class="tran" type="number" placeholder="0.00">
    </div>
    <div class="texts">
        <p class="black">Tipo de Cambio</p>
        <input class="tran" type="text" placeholder="Pesos Mexicanos(MEX)">
    </div> 
    <div class="boton">
    <button class="mui" ng-click="captura()" ui-sref="menu">&#956;</button>
    </div>
    </ion-content>
    </div>
</ion-pane>